
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    font-size: 18px;
    /*background: #fff;*/
    /* Center slide text vertically */
    /*text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */

    background-position: top;
    background-size: cover;
    background-repeat:no-repeat;
}

.outwarp {
  position:absolute;
  top:0px;
  left:0px;
  z-index:-2;
  height:100%;
  width:100%;
  background-position: top;
  background-size: cover;
  background-repeat:no-repeat;
}

.innerwarp {
  position:absolute;
  top:0px;
  left:0px;
  z-index:-1;
  height:100%;
  width:100%;
  opacity:0;
  background-position: top;
  background-size: contain;
  background-repeat:no-repeat;
}

.backgroundwarp {
  position:absolute;
  top:0px;
  left:0px;
  z-index:-1;
  height:100%;
  width:100%;
  background-position: top;
  background-size: contain;
  background-repeat:no-repeat;
}

.audio {
  position: absolute;
  right: 20px;
  top: 7%;
  z-index: 10;
  width: 30px;
  height: 30px;
  background-image: url(../images/normalmusic.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.pub-passdown {
  position: absolute;
  left: 50%;
  z-index: 10;
}
.pub1, .pub2 {
  position: absolute;
  background-color: #fff;
  width: 14px;
  height: 2px;
  border-radius: 2px;
  box-shadow: 1px -1px 1px #646464;
}
.pub-passdown .pub1 {
  transform: rotate(-50deg);
  left: -10px;
}
.pub-passdown .pub2 {
    left: -2px;
    transform: rotate(50deg);
}

.content-contain {
  color: rgba(255, 255, 255, .5);
  top: 60%;
  width: 100%;
  position: absolute;
  text-align: center;
}
.content-col {

}
.content-fir {
  font-size: 14px;
  display: inline-block;
  opacity: 0;

}
.content-sec {
  font-size: 22px;
  display: inline-block;
  opacity: 0;
}
.topImage {
  height: 100px;
  margin: 0 auto;
  display: block;
  margin-top: 20%;
  opacity: 0;
  transform:scale(1.5, 1.5);
}
.swiper-slide-active .topImage-active {
  opacity: 1;
  transform: scale(0.8, 0.8) !important;
  transition-property: transform opacity;
  transition-duration:2s, 4s;
  transition-timing-function:ease-in;
  transition-delay:0;
}
.centerImage {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 70%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
}
.firpage-text-contain {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.firpage-text {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.swiper-slide-active .scale {
  animation-name: scale;
  transform-origin: center;
}

.swiper-slide-active .fadeIn {
  animation-name: fadeIn;
  transform-origin: center;
}

.swiper-slide-active  .fadeInDown-0 {
  animation-name: fadeInDown-0;
}

.swiper-slide-active  .fadeInDown-40 {
  animation-name: fadeInDown-40 ;
}

.swiper-slide-active  .fadeInScale {
  animation-name: fadeInScale;
}

.swiper-slide-active  .fadeInScaleDown {
  animation-name: fadeInScaleDown;
}

.swiper-slide-active .flipInX {
  animation-name: flipInX;
}

.animatedTime {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-delay: .5s;
}

.animatedTime-2 {
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-delay: 1.5s;
}

.animatedTime-3 {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.animatedTime-4 {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
}

.animatedTime-5 {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 4s;
  animation-timing-function: ease-in-out;
}

.animatedTime-6 {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-delay: 5s;
}
.animatedTime-01 {
  animation-duration: 2s;
  animation-fill-mode: both;
}

.rotate {
  animation: rotating 1.2s linear infinite;
}

.flageUp {
  animation: flageUp 1.2s linear infinite;;
}



@keyframes rotating {
  from   {
    transform: rotate(0deg);
  }

  to  {
    transform: rotate(360deg);
  }
}


@keyframes scale {
  from  {
    transform:scale(1.5, 1.5);
  }

  to {
    transform:scale(1, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes flageUp {
  from {
    opacity: 0.5;
    bottom: 6%;
  }

  50% {
      bottom: 4.2%;
  }

  to {
      opacity: 0;
      bottom: 6%;
  }
}

@keyframes fadeInDown-40 {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 40%, 0);
  }
}

@keyframes fadeInScale {
  from  {
    opacity: 0;
    transform:scale(1.7, 1.7);
  }

  to {
    opacity: 1;
    transform:scale(1, 1);
  }
}

@keyframes fadeInDown-0 {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInScaleDown {
  from  {
    opacity: 0;
    transform:scale(1.7, 1.7);
  }

  to {
    opacity: 1;
    transform:scale(1, 1);
    transform: translate3d(0, 40%, 0);
  }
}

@keyframes flipInX {

  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -40deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -10deg);
  }

  to {
    transform: perspective(400px);
    opacity: 1;
  }
}

